*
{
    margin: 0;
}
#logo img
{

}

#header a
{
    display: block;
    width: 100%;
}

#logo, #site-name
{
    float: left;
}

nav
{
    width: 100%;
}

nav button, #menu
{
    width: inherit;
}

#menu ul
{
    list-style-type: none;
}

/*----------------------------------FOR Tablets------------------------------*/

@media only screen and (min-width: 768px)
{

    #logo img
    {

    }

    #header a
    {
        display: block;
        width: 100%;
    }

    #logo, #site-name
    {
        float: left;
    }

    nav
    {
        width: 100%;
    }

    nav button, #menu
    {
        width: inherit;
    }

    #menu ul
    {
        list-style-type: none;
    }


}


/*----------------------------------FOR Desktop------------------------------*/

@media only screen and (min-width: 1000px)
{
    #logo img
    {
    }

    #header a
    {
        display: block;
        width: 100%;
    }

    #logo, #site-name
    {
        float: left;
    }

    nav
    {
        width: 100%;
    }

    nav button, #menu
    {
        width: inherit;
    }

    #menu ul
    {
        list-style-type: none;
    }

}
