*
{
    margin: 0;
}


#logo
{
    width: 100%;
}

nav
{
    width: 100%;
}

nav button, #menu
{
    width: inherit;
}

#menu
{
    display: none;
}

#menu ul
{
    list-style-type: none;
}

form
{
    background-color: rgba(255, 255, 255, 0.6);
}

.footer-data, .credits
{
    width: 90%;
    padding: 5%;
    background-color: #fff;
}

.footer-data dt
{
    padding-top: 5%;
}

.footer-data dd
{
    padding-bottom: 5%;
    border-bottom: 2px solid #fc5;
}


/*----------------------------------FOR Tablets------------------------------*/

@media only screen and (min-width: 768px)
{


    nav
    {
        width: 100%;
    }

    nav button, #menu
    {
        width: inherit;
    }

    #menu ul
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }


}


/*----------------------------------FOR Desktop------------------------------*/

@media only screen and (min-width: 1000px)
{
    .top
    {
        width: 100%;
        background-color: #fff;
    }

    nav button
    {
        display: none;
    }

    #menu
    {
        display: block;
    }

    #menu ul
    {
        padding-top: 35px;
    }

    #menu ul li a
    {
        padding: 10px;
        width: 100px;
        background-color: #fff;
        border-style: solid;
        border-width: 0 0 0 1px;
    }

    #menu ul li a:hover
    {
        transition:0.6s ease;
        background-color: #eee;
    }

    #fontSize
    {
        padding: 20px;
    }

    .bread-crumbs
    {
        padding: 20px;
        margin: 10px 0 10px 0;

    }

    .group
    {
        width: 80%;
        margin: auto;
    }

    .footer-data, .credits
    {
        width: 20%;
        padding: 2%;
        background-color: #fff;
    }

    .footer-data dt
    {
        padding-top: 5%;
    }

    .footer-data dd
    {
        padding-top: 5%;
        border-bottom: 0;
    }

    .footer-data
    {
        border-right: 2px solid #fc5;
        margin-top: 5%;
    }


}
