*
{
    margin: 0;
}

body
{
    width: 100%;
}


header .site-name
{
    width: 100%;
}

h1,h2
{
    margin-top: 7%;
}

nav
{
    width: 100%;
}

nav button
{
    display: block;
    width: 100%;
    height: 60px;
    background-color: #234;
    border: none;
}

#menu{
    display: none;
}

#menu ul
{
    list-style-type: none;
    padding: 0;
}

#menu ul li
{
    padding-top: 30px;;
    height: 60px;
    background-color: #567;
    border-bottom: 2px groove;
    border-color: #fff;
}


.address p::after
{
    content: ",";
}

#address-locality::after
{
    content: ".";
}


h1
{
    margin: 0;
}

#logo
{
    display: none;
}
#logo img
{
    width: 90px;
}

.footer-data, .credits
{
    width: 90%;
    padding: 5%;
    background-color: #fff;
}

.footer-data dt
{
    padding-top: 5%;
}

.footer-data dd
{
    padding-bottom: 5%;
    border-bottom: 2px solid #fc5;
}

.left, .right, .font-size-control{
    display: none;
}
