*{
    font-size: 6vw;
}

h1
{
    font-size: 15vw;
    font-family: monospace;
}

.page-title h2, h3 a
{
    font-size: 10vw;
    font-family: sans-serif;
}
/*h1
{
    color: #f80;
    text-shadow: 1px 2px 2px #000;
}
*/
nav ul li a
{
    color: #fff;
    font-size: 7vw;
    font-family: sans-serif;

}

nav button
{
    color: #fff;
    font-size: 8vw;
}

#menu ul li
{
    text-align: center;
    font-size: 7vw;
}

a
{
    text-decoration: none;
    color: #a60;
}

footer
{
    font-size: 5vw;
    color: #444;
    font-family: sans-serif;
}

footer dd
{
    font-style: oblique;
    font-family: serif;
}

footer dd a
{
    font-size: 6vw;
}

.credits p, a
{
    font-size: 5vw;
}
