/* importing layout & typograhy */
@import url('css/layout.css');
@import url('css/typography.css');

body
{
    display: grid;
    grid-template-columns: auto;
}

.top
{
    display: block;
}

header
{
    display: block;
}

header picture
{
    width: 20%;
    float: left;
}

header .sitename
{
    width: 80%;
}

@media only screen and(min-width:100px) {
    .top
    {
        display: grid;
        grid-template-areas: 'logo nav';
    }

    header
    {
        grid-area: 'logo';
        width: 200px;
    }

    #nav
    {
        grid-area: 'nav';
        width: 700px;
    }
}
