/* importing layout & typograhy */
@import url('css/layout.css');
@import url('css/typography.css');

body
{
    display: grid;
    grid-template-columns: auto;
}

.top header
{
    display: flex;
    flex-direction: column;
}

/*----------------------------------FOR Desktop------------------------------*/

@media only screen and (min-width: 1000px)
{
    .top
    {
        display: grid;
        grid-template-columns: 8fr 6fr;
    }


    nav button
    {
        display: none;
    }

    #menu
    {
        display: block;
    }

    #menu ul
    {
        display: flex;
        flex-direction: row;
    }



}
